* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.l6 {
  width: 50%;
  text-align: center;
}
.l3 {
  width: 25%;
  text-align: center;
}
.col {
  margin: 0 10px;
}
.responsive-img {
  width: 100%;
  height: 100%;
}

a {
  color: white;
}
.btn {
  width: 140px;
  height: 35px;
  background-color: rgb(14, 187, 255);
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.small-btn {
  height: 30px;
  width: 80px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 187, 255);
}
.small-btn:hover {
  cursor: pointer;
  background-color: rgb(14, 187, 255);
  box-shadow: 1px 1px 7px gray;
}
.container {
  width: 80%;
  margin: auto;
}
/* *************************   first navbar ******************************** */
header {
  width: 100%;
  height: 60px;
  box-shadow: 5px black;
}
.logo h1 {
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.navbtn ul {
  display: flex;
}
.navbtn ul li {
  text-align: center;
  padding-top: 8px;
  font-weight: 500;
  font-size: large;
  margin-left: 30px;
}
.navbtn ul li:hover {
  cursor: pointer;
}
/* *************************   second navbar ******************************** */
.nav-wrapper {
  width: 100%;
  height: 45px;
  background-color: rgb(14, 187, 255);
}
.nav-btn ul {
  display: flex;
}
.nav-btn ul li {
  padding: 10px 12px 0;
  font-size: 18px;
}
.nav-btn ul li:hover {
  cursor: pointer;
  background-color: rgb(30, 150, 230);
  height: 45px;
}
.search-bar {
  padding-top: 10px;
}
.search-bar input[type="search"] {
  height: 30px;
  width: 270px;
  border-radius: 5px;
  outline: none;
  padding-left: 6px;
  border: none;
}
.search-bar input[type="search"]:focus {
  border: 2px solid gray;
}
.search-bar input[type="submit"] {
  height: 30px;
  width: 70px;
  border-radius: 0 5px 5px 0;
  background-color: rgb(170, 170, 170);
  border: none;
  margin-left: -20px;
}
.search-bar input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(133, 133, 133);
}
/* ------------------------- main content -------------------- */
section {
  margin-top: 50px;
}
.paragraph {
  font-size: large;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 1px;
}
/*---------------------------------- category section ------------------------ */
#statistic {
  width: 100%;
  background-color: rgb(231, 231, 231);
  height: 550px;
}
#cat-link,
#cat-link a {
  text-align: center;
  margin-top: 20px;
  color: rgb(56, 22, 168);
  text-decoration: underline;
}
#cat-link a:hover {
  color: gray;
}
#categories {
  font-size: xx-large;
  font-weight: 600;
  padding: 50px 0;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  line-height: 22px;
  background-color: white;
  width: 240px;
  height: 310px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
}
.card-image {
  height: 50%;
}
.card-img {
  border-radius: 15px 15px 0 0;
}
.card-content {
  padding: 10px 0;
  line-height: 25px;
  text-align: center;
}
.card-content input {
  margin: 15px;
}
/* **********************  all courses section **************** */
.course-card {
  height: 180px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px lightgray;
  margin: 15px 0;
}
.course-card h1 {
  letter-spacing: 3px;
  text-align: center;
  font-size: xx-large;
  padding-top: 30px;
}
.course-card p {
  letter-spacing: 3px;
  text-align: center;
  font-size: large;
  margin: 5px 0;
}
.course-card ul li {
  margin-top: 20px;
  margin-left: 34%;
}
.course-card ul li:hover {
  cursor: pointer;
}
section a h1 {
  margin-left: 150px;
  color: rgb(56, 22, 168);
  display: inline;
  text-decoration: underline;
}
section a h1:hover {
  color: gray;
}
/* ****************** join us section ****************** */
#join-us-section {
  background-color: lightgrey;
  padding-top: 45px;
  height: 450px;
}
#join-us-text {
  margin-top: 20px;
  line-height: 25px;
}
.join-us-btn {
  margin: 30px 0 0 180px;
}
.title {
  letter-spacing: 2px;
  font-size: xx-large;
  font-weight: 600;
  margin: 15px 0;
}

/* ************************ contact us ************************* */
#contact-us {
  height: 400px;
}
.sub-btn {
  width: 75px;
  height: 32px;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}
.sub-btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}
.input-field {
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  background-color: lightgray;
  outline: none;
}
.message {
  height: 120px;
}
.input-field:focus {
  box-shadow: 1px 1px 7px black;
}
#message-form {
  text-align: left;
  padding-left: 40px;
}
#links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 2rem;
}
.link a i {
  color: black;
  font-size: 3rem;
}
.send-us-mes-text {
  text-align: center;
  border-right: 1px solid gray;
}
/* &&&&&&****************** footer******************* */
footer {
  background-color: gray;
  height: 250px;
  padding-top: 40px;
}
.footer-links {
  text-align: left;
  line-height: 25px;
}
#last-footer {
  background-color: lightgray;
  text-align: center;
  height: 25px;
}
