* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.l6 {
  width: 50%;
  text-align: center;
}
.l4 {
  width: 30%;
}
.col {
  margin: 0 10px;
}
.responsive-img {
  width: 100%;
  height: 100%;
}

a {
  color: white;
}
.btn {
  display: inline-block;
  width: 140px;
  height: 35px;
  background-color: rgb(14, 187, 255);
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.small-btn {
  height: 35px;
  width: 90px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 187, 255);
}
.small-btn:hover {
  cursor: pointer;
  background-color: rgb(14, 187, 255);
  box-shadow: 1px 1px 7px gray;
}
.container {
  width: 80%;
  margin: auto;
}
.hide-on-large {
  display: none;
}
/* *************************   header section ******************************** */
header {
  width: 100%;
  height: 60px;
  padding-top: 12px;
}
.logo a p {
  color: black;
  text-align: left;
  font-size: xx-large;
  font-weight: 700;
}
.signin {
  transition: transform 0.3s;
  background-color: white;
  border: 1px solid rgb(18, 176, 233);
}
.signin a {
  color: black;
}
.signin:hover {
  transform: scale(1.1, 1.1);
}
.sign-i-u {
  display: flex;
  justify-content: flex-end;
}
.sign-i-u li {
  font-weight: 520;
  font-size: large;
  margin-left: 30px;
}

.navigation i {
  font-size: 1.7rem;
  padding: 6px 0 0 20px;
  color: rgb(33, 141, 212);
  transition: transform 1s;
}
.navigation i:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

/* *************************   second navbar ******************************** */
.nav-wrapper {
  padding-top: 5px;
  width: 100%;
  height: 45px;
  background-color: rgb(14, 187, 255);
  display: flex;
}
.nav-btn {
  display: flex;
}
.nav-btn li {
  position: relative;
}
.nav-btn li a {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  transition: 0.3s ease;
}
.nav-btn li a:hover,
.nav-btn li a:focus {
  color: #818181;
}
.nav-btn li a:focus::after,
.nav-btn li a:hover::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: #818181;
  position: absolute;
  bottom: -5px;
  left: 10px;
}
.search-bar input[type="search"] {
  height: 30px;
  width: 17rem;
  border-radius: 5px;
  outline: none;
  padding-left: 6px;
  border: none;
}
.search-bar input[type="search"]:focus {
  border: 2px solid gray;
}
.search-bar input[type="submit"] {
  height: 30px;
  width: 5rem;
  border-radius: 0 5px 5px 0;
  background-color: rgb(170, 170, 170);
  border: none;
  margin-left: -20px;
}
.search-bar input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(133, 133, 133);
}
.search-icon {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  color: blue;
}
.search-icon span {
  margin-right: 15px;
  color: white;
}
/* ------------------------- main content -------------------- */
section {
  margin-top: 50px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.main-content-img {
  width: 45%;
}
.main-content-text {
  width: 45%;
  text-align: center;
}

.paragraph {
  font-size: large;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 1px;
}
/*---------------------------------- category section ------------------------ */
#category {
  width: 100%;
  background-color: rgb(231, 231, 231);
  height: auto;
}
#categories {
  color: #3b7cf5;
  margin-left: 80px;
  display: block;
  font-size: large;
  font-weight: 600;
  padding: 30px 0;
}
#categories:hover {
  color: #797979;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.cards + div {
  height: 50px;
}
.card {
  position: relative;
  justify-content: center;
  line-height: 30px;
  background-color: white;
  width: 250px;
  height: 315px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(138, 191, 212);
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-0.7rem);
}
.card-image {
  height: 50%;
}
.card-img {
  border-radius: 10px 10px 0 0;
}
.card-content {
  padding: 10px 0;
  line-height: 25px;
  text-align: center;
}
.card-btn {
  text-align: right;
  border: none;
  background-color: rgb(82, 167, 224);
  height: 32px;
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.card-btn:hover {
  cursor: pointer;
  background-color: #818181;
}
.card-btn i {
  padding-top: 4px;
  font-size: 18px;
  color: #f1f1f1;
}
/* **********************  all courses section **************** */
.card-wrapper {
  width: 49.9999%;
  padding: 2% 3%;
}
.cards {
  display: flex;
}
.course-card {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  position: relative;
  height: 200px;
  width: 550px;
  gap: 1.5rem;
  border-radius: 5px;
  background-color: rgb(190, 218, 229);
  border: 1px solid lightgray;
  box-shadow: 0px 0px 10px rgb(104, 195, 228);
  margin: 15px 0;
  line-height: 20px;
  transition: transform 0.3s;
}
.course-card:hover {
  transform: translateY(11px);
}
.course-card h1 {
  text-align: center;
  font-size: xx-large;
  padding-top: 30px;
}
.course-card p {
  text-align: center;
  font-size: large;
  margin: 5px 0;
}
.course-card ul li:hover {
  cursor: pointer;
}
#courses_link {
  margin-left: 120px;
  color: #3b7cf5;
  display: block;
}
#courses_link:hover {
  color: gray;
}
/* ****************** join us section ****************** */
.join-us {
  display: flex;
  gap: 4rem;
  position: relative;
  justify-content: center;
}
#join-us-section {
  background-color: lightgrey;
  padding-top: 45px;
  height: 450px;
}
.join-us-image {
  height: 350px;
  width: 500px;
}
.join-us-content {
  width: 400px;
  text-align: center;
}
#join-us-text {
  margin: 20px 0 30px 0;
  line-height: 25px;
}

.title {
  letter-spacing: 2px;
  font-size: xx-large;
  font-weight: 600;
  margin: 15px 0;
}

/* ************************ feedback section ************************* */

.sub-btn {
  width: 75px;
  height: 32px;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}
.sub-btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}
.input-field {
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  width: 25rem;
  height: 40px;
  margin: 5px 0 20px 0;
  background-color: lightgray;
  outline: none;
}
.address {
  padding-left: 20px;
  margin-top: 1.5rem;
  text-align: left;
}
.message {
  height: 120px;
}
.input-field:focus {
  box-shadow: 0px 0px 5px gray;
}
#message-form {
  text-align: left;
  padding-left: 20px;
}
#links {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  gap: 0.5rem;
}
.link i {
  color: black;
  font-size: 1.7rem;
  padding-left: 20px;
  transition: transform 0.3s;
}
.link i:hover {
  transform: scale(1.3, 1.3);
}
.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.send-us-mes-text {
  width: 40%;
  height: 370px;
  text-align: center;
  border-right: 1px solid gray;
}
.feedback-inputs-field {
  margin-bottom: 30px;
}
/* *********************** testimonial part ************** */
.testimonial_section {
  position: relative;
  width: 100%;
  background-color: #345264;
  overflow: hidden;
}
.testimonial_section::before {
  position: absolute;
  content: "";
  width: 2000px;
  height: 100%;
  bottom: -70%;
  border-radius: 50%;
  background-color: #3b7cf5;
}
.testimonial_heading {
  display: inline-block;
  position: relative;
  color: #3b7cf5;
  font-size: 4vw;
  padding: 60px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.testimonial_heading b {
  color: #fff;
}
.testimonial_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.testimonial_card {
  position: relative;
  width: 350px;
  color: #fff;
  background: #222;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17%;
  width: 100%;
  display: block;
}
.imgbox {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid #3b7cf5;
  border-radius: 50%;
  overflow: hidden;
}
.imgbox img {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}
.imgbox:hover img {
  filter: saturate(100%);
  transform: scale(1.1);
}
.profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.testimonial_card p {
  margin: 80px 0 20px 0;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}
.social {
  width: 100%;
}
.social i {
  font-size: 1.2rem;
  color: #fff;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.social i:hover {
  background-color: #3b7cf5;
}
/* &&&&&&****************** footer******************* */
footer {
  background-color: gray;
  height: auto;
  padding-top: 30px;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.footer-links {
  width: 220px;
  text-align: left;
  line-height: 25px;
  margin-bottom: 20px;
}
#last-footer {
  background-color: lightgray;
  text-align: center;
  height: 25px;
}
/* *************************************************************************
*********************************************************************** */
@media (max-width: 940px) {
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
    background-color: rgb(18, 176, 233);
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .m8 {
    width: 80%;
  }
  .col {
    justify-content: center;
  }
  .hide-on-mid-and-small {
    display: none;
  }
  .hide-on-large {
    display: inline-block;
  }
  .search-bar {
    justify-content: right;
  }
}
@media (max-width: 1255px) {
  .course-card {
    width: 490px;
  }
}
@media (max-width: 1123px) {
  .course-card {
    width: 430px;
  }
}
@media (max-width: 1000px) {
  .hide-on-mid {
    display: none;
  }
}
@media (min-width: 1000px) {
  .hide-on-small-and-large {
    display: none;
  }
}
@media (max-width: 990px) {
  .course-card {
    width: 630px;
  }
}
@media (max-width: 794px) {
  /* main content responsive */
  .main-content-img {
    width: 600px;
  }
  .main-content-text {
    width: 600px;
  }
  /* join us section responsive */
  #join-us-section {
    height: auto;
  }
  .join-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .join-us-image {
    width: 500px;
  }
  .join-us-content {
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
  }
  /* feedback section responsive */
  .send-us-mes-text {
    width: 400px;
    border: none;
  }
}
@media (max-width: 600px) {
  .logo a p {
    font-size: 21px;
    font-weight: 800;
    padding-top: 8px;
  }
  .hide-on-small {
    display: none;
  }
  .hide-on-mid {
    display: inline;
  }
  .hide-on-small-and-large {
    display: none;
  }
}
@media (max-width: 470px) {
  .signup {
    width: 100px;
  }
  .logo a p {
    font-size: 15px;
    font-weight: 600;
    padding-top: 13px;
  }
}
@media (max-width: 450px) {
  /* input field responsive  */
  .input-field {
    width: 23rem;
  }
}
@media (max-width: 550px) {
  .search-bar input[type="search"] {
    width: 12.5rem;
  }
  .search-bar input[type="submit"] {
    width: 2.8rem;
  }
}

@media (min-width: 600px) {
  .hide-on-mid-and-large {
    display: none;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .input-field {
    width: 20rem;
  }
  .s6 {
    width: 70%;
  }
}
